body {
    font-family: var(--serif-font) !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--sans-font) !important;
  font-weight: 900 !important;
  letter-spacing: -0.0415625em !important;
}

h2, h3 {
  margin-top: 4rem !important;
}

.is-root-container.block-editor-block-list__layout {
  max-width: 40rem !important;
  margin: 4rem auto !important;
}

.edit-post-visual-editor__post-title-wrapper {
  text-align: center !important;
}

a,
a:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--accent) !important;
  text-decoration-thickness: .15rem !important;
}
